:root{
  --Purple-100: hsl(254, 88%, 90%);
 --Purple-500: hsl(256, 67%, 59%);

--Yellow-100: hsl(31, 66%, 93%);
--Yellow-500: hsl(39, 100%, 71%);

--White:  hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);
--background-color:  hsl(0, 0%, 96%);

--font-regular: 'dmsans regular';
--font-meduim: 'dmsans meduim';
--font-meduim-italic: 'dmsans meduim italic';

--border-raduis: 0.375rem;
}

/* fonts added */

@font-face {
  font-family: 'dmsans regular';
  src: url(DMSans-Regular.ttf)
  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'dmsans meduim';
  src: url(DMSans-Medium.ttf)
  format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'dmsans meduim italic';
  src: url(DMSans-MediumItalic.ttf)
  format('truetype');
}

/* All child property */

*,
*::before,
*::after{
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

/* Body */

body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  margin: auto;
  font-family: var(--font-regular);
  line-height: 1.0;
  font-size: 16px;

} 

/* Main section */
#main{
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  margin-top: 1.25rem;
}


/* Container */

.container{
  width: 39.5rem;
  height: 80vh;
  display: grid;
  grid-template-columns: 12rem 1fr 1fr 12rem;
  margin: auto;
  column-gap: 0.625rem;
  row-gap: 0.625rem;
}

/* First Column  */

.first-column{
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.625rem;
}

/* Create and write */

.create-part,
.write-part{
  background-color: var(--Yellow-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-raduis);
  padding: clamp( 0.9375rem, 30%, 0.625rem);
}

.create-part img{
  width: 120px;
}

.create-part h2,
.write-part h2{
  color: var(--Black);
  font-size: 1.300rem;
  max-width: 50vw;
  margin-left: -0.125rem;
  font-weight: 600;
  line-height: 0.9;
  margin-bottom: 1.25rem;  
}

.write-part{
  background-color: var(--Yellow-500);
  grid-column: 1 ;
}

.write-part h2{
    margin-bottom: 1.875rem;
}

.write-part img{
  margin-bottom: 0.625rem;
  margin-left: 0.625rem;
  width: 130px;
}
.create-part h2 span{
  color: var(--Purple-500);
  font-family: var(--font-meduim-italic);
}

/* Social part starts */

.social-part{
  grid-column: 2 /span 2;
  grid-row: 1 / span 1;
  background-color: var(--Purple-500);
  color: var(--White);
  font-family: var(--font-regular);
  border-radius: var(--border-raduis);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 0.9375rem;
  padding: 1.25rem; 
}
.social-part h1{

    font-size: 1.875rem;
    font-family: var(--font-meduim);
    font-weight: 500;
    margin-bottom: 0.625rem;
}
.social-part .span-2{
    font-family: var(--font-meduim-italic);
    color: var(--White);
}

.social-part span{
    color: var(--Yellow-500);
 
}

.social-part img{

  width: clamp(120px, 50%, 100px);
  margin-bottom: 0.3125rem;

}

.social-part p{
    font-size: 0.75rem;
}

/* Schedule part starts */

.schedule-part{
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
  background-color: var(--Purple-100);
  display: flex;
  flex-direction: column;
  padding: clamp(0.9375rem, 50%, 0.625rem);
  border-radius: var(--border-raduis);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.schedule-part h3{
  font-size: 1.125rem;
  font-family: var(--font-regular);
  font-weight: 600;
  margin-bottom: 0.625rem;
  margin-top: -1.875rem;
}

.schedule-part img{
  width: 180px;
  margin-left: 6.25rem;
  margin-bottom: 0.625rem; 
}

.schedule-part p{
    font-family: var(--font-regular);
    font-size: 0.66rem;
    font-weight: 500;
    line-height: 1.1;
    max-width: 30vw;
    margin-bottom: -1.875rem;
}

/* manage part starts */

.manage-part{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  background-color: var(--White);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-raduis);
  font-family: var(--font-regular);
  margin-left: 0.9375rem;
  padding: 0.4375rem; 
}
.manage-part img{
  width: 200px;
  margin-left: 4.375rem;
  margin-bottom: 0.625rem;
}

.manage-part h3{
  font-size: 1.125rem;
  font-weight: 700;
  max-width: 30vw;
  line-height: 0.9;
  margin-left: 0.9375rem;
 
  
}


/* Maintain part starts */
.maintain-part{
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  background-color: var(--Yellow-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-raduis);
  font-family: var(--font-regular);
  padding:  0.4375rem;
}

.maintain-part h3{
  font-size: 1.125rem;
  font-weight: 700;
  max-width: 30vw;
  line-height: 0.9;
  margin-bottom: 0.625rem;
}

.maintain-part img{
  width: 120px;
  margin-bottom: -3.125rem;
}

/* Maintain part ends */


/* Fifty six starts  */


.fifty-six-part{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: var(--border-raduis);
  font-family: var(--font-regular);
  padding:  0.4375rem;
  margin-left: 0.9375rem;
}

.fifty-six-part h1{
  font-size: 1.875rem;
  font-family: var(--font-meduim);
  font-weight: 500;
  margin-right: 3.125rem;
  margin-bottom: 0.625rem;
}

.fifty-six-part p{
  font-size: 0.66rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.fifty-six-part img{
    width: 100px;
    margin-left: -0.625rem;
   
}

/* fifty six ends */


/* Grow part starts */

.grow-part{
  grid-row: 3 /  span 1;
  grid-column: 3 / span 2;
  background-color: var(--Purple-500);
  color: var(--White);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border-radius: var(--border-raduis);
  font-family: var(--font-regular);
  padding: 0.4375rem;
}

.grow-part img{
  width: 120px;
  margin-right: 0.625rem;
}

.grow-part h2{
  font-size: 1.375rem;
  font-weight: 500;
}


/* Grow part ends */

/* Attribution */

.attribution {
   font-size: 0.8125rem; 
   text-align: center; 
   margin-bottom: 1.25rem;
  }
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

 

/* Media query starts */

@media   (min-width: 601px) and (max-width: 1500px){
  
  body{
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  #main{
    justify-content: center;
    align-items: center;
    gap: 4.375rem;
  }

  .container{
    width: 38rem;
    display: grid;
    grid-template-columns: 7.5rem 1fr 1fr 7.5rem;
  }

  .first-column{
    width: 50%;
    grid-template-columns: 8.4375rem;

  }

}

@media (min-width: 250px) and (max-width: 600px)   {


  .container{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    height: auto;
    column-gap: 1.25rem;
    row-gap: 1.25rem;
    align-items: center;
  }

  /* Last two rows */

  .first-column{
    width: 95%;
    grid-column: 1 / span 2;
    grid-row: 9 / span 2;
    gap: 0.625rem;
    margin-top: -2.8125rem;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 1fr;
  }

  /* Create part */
  .create-part{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-items: start; 
  }

  .create-part h2{
    max-width: 70vw;
    margin-left: 1.25rem;
    font-size: 1.5rem;
  }

  .create-part img{
    width: 152px;
    margin-left: 1.25rem;
  }

  /* Write part */

  .write-part{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    align-items: start;
    font-size: 1.5rem;
  }

 

  .write-part img{
    margin-left: -0.1875rem;
    width: 144px;
  }

  .write-part h2{
    max-width: 50vw;
    margin-left: -0.1875rem;
    margin-bottom: 0.625rem;
  }

  /* Last column ends */

  /* Social part */

  .social-part{
    grid-column: 1/ span 1;
    grid-row: 1 / span 1;
    align-items: center;
    justify-content: center;
  }

  .social-part h1{
   
    text-align: center;
    max-width: 207vw;

  }

  .social-part p{
    margin-bottom: 0.625rem;
  }

  /* Manage part */

  .manage-part{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    align-items: start;


  }

  .manage-part h3{
    margin-left: 0.625rem;
    max-width: 207.5vw;
    margin-bottom: 0.625rem;
  }

  .manage-part img{
    width: 70vw;
    margin-left: 0.625rem;
  }

  /* Maintain part */

  .maintain-part{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    align-items: start;
  }

  .maintain-part h3{
    margin-top: 0.625rem;
    max-width: 40vw;
    margin-left: 0.9375rem;
    margin-bottom: 0.625rem;
  }

  .maintain-part img{
    margin-bottom:  -1.5625rem;
    width: 180px;
    margin-left: 0.9375rem;
  }

  /*  Schedule part */

  .schedule-part{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    padding: 1.875rem;
  }

  .schedule-part h3{
    margin-top: 0px;
    margin-bottom: 1.25rem;
  }

  .schedule-part img{
      width: 100%;
      margin-left: 0px;
      margin-bottom: 1.875rem;
  }

  .schedule-part p{

    text-align: center;
    font-size: 0.8125rem;
    max-width: 45vw;
    margin-bottom: 0px;
    line-height: 1.0;


  }

  /* Grow part */

  .grow-part{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .grow-part > *{
    margin-left: 2.5rem;
    margin-bottom: 0.625rem;
  }

  .grow-part img{
      width: 155px;
      margin-bottom: 1.25rem;
    }

  .grow-part h2{
    max-width: 35vw;
    margin-left: -0.625rem;
  }


  /* 56 part */

  .fifty-six-part{
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
    align-items: start;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    margin-left: 0;
  }

  .fifty-six-part > *{
    margin-bottom: 1.25rem;
   
  }

  .fifty-six-part p{
    font-size: 0.9375rem;
    margin-bottom: 0.9375rem;
  }
  
  .fifty-six-part h1{
    margin-bottom: 0.9375rem;
    font-size: 2.1875rem;
  }

  .fifty-six-part img{
    width: 128px;
    margin-left: 0;
  }





}